<body>
	<div class="container">
	<div class="row">	
		<div class="responsive">
			<div class="container col-lg-12">		
				<table class="brand_list" align="center">	
				<h1 class="text-center" style="margin-bottom:25pt">List of Products</h1>	
				<tr>
					<th>Picture</th>
					<th>Name</th>
					<th>Brand</th>
					<th>Category</th>
					<th>Update/Delete</th>
				</tr>
				{{#each data}}
				<tr>
					<td width="10%"><img style="width:80%" src="{{this.product_picture}}" alt="Product"></td>
					<td width="20%">{{this.product_name}}</td>
					<td width="20%">{{this.brand_name}}</td>
					<td width="20%">{{this.category_name}}</td>
					<td width="30%"><a href="/products/{{this.product_id}}"><button class="w3-button w3-green">Update</button>&nbsp&nbsp</a><a href="/products/{{this.product_id}}"><button class="w3-button w3-red">Delete</button></a></td>
				</tr>
				{{/each}}
				</table>
			 </div>
		</div>		
	</div>
</div>
</body>