<style>
table, th, td {
	border: 1px solid black;
}	
th {
	text-align: center;
}
</style>
<h1>{{title}}</h1>
<ul>

	<table style="width:100%">
		<thead>
			<th style="width:10%">ID</th>
			<th style="width:10%">Name</th>
			<th style="width:10%">Type</th>
			<th style="width:10%">Description</th>
			<th style="width:20%">Brand</th>
			<th style="width:10%">Price</th>
			<th style="width:20%">Picture</th>
		</thead>

		{{#each rows}}
			<tr>
				<div class="row">
					<div class="col-sm-3">
					  <p>Some text..</p>
					  <a href="/products/{{product_id}}" ><img src="{{picture}}" class="img-responsive" style="width:100%" alt="Image"></a>
					</div>
					<div class="col-sm-3"> 
					  <p>Some text..</p>
					  <a href="/products/{{product_id}}" ><img src="{{picture}}" class="img-responsive" style="width:100%" alt="Image"></a>
					</div>
					<div class="col-sm-3"> 
					  <p>Some text..</p>
					  <a href="/products/{{product_id}}" ><img src="{{picture}}" class="img-responsive" style="width:100%" alt="Image"></a>
					</div>
					<div class="col-sm-3">
					  <p>Some text..</p>
					  <a href="/products/{{product_id}}" ><img src="{{picture}}" class="img-responsive" style="width:100%" alt="Image"></a>
					</div>
				  </div>
				</div><br>
<!-- 
				<td><a href="/products/{{product_id}}">{{product_id}}</a></td>

				<td>{{product_name}}</td>	

				<td>{{product_type}}</td>

				<td>{{product_description}}</td>

				<td>{{brand}}</td>
				
				<td>{{price}}</td>
				
				<td><img src="{{picture}}" width="300px" height="300px"></td>

				 -->

			<tr>
		{{/each rows}}

		<tbody>

		</tbody>
	</table>

</ul>