<body>
	<div class="container">
		<div class="split left">
			<div class="centered">
			<img style="max-width: 400px" src="{{this.product_picture}}" alt="Product">
			<div class="left">
			<h2>Name: {{product_name}}</h2>
			<p>Brand: {{brand_name}}</p>
			<p>Type: {{category_name}}</p>
			<p>Price: ₱{{product_price}}.00</p>
			<p>{{product_description}}</p>
			</div>
			</div>
		
		</div>		

		<div class="split right">
			<div class="centered">
				<h2>Order Form</h2>
				<form method="POST" action="{{this.product_id}}/send">
					<div class="controls">
						<div class="form-group">
							<label class="control-label" for="quantity">Quantity</label>
							<div>
								<input id="quantity" name="quantity" type="number" class="form-control" required >
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="first_name">First Name</label>
							<div>
								<input id="first_name" name="first_name" type="text" placeholder="First Name" class="form-control" required >
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="last_name">Last Name</label>
							<div>
								<input id="last_name" name="last_name" type="text" placeholder="Last Name" class="form-control" required >
							</div>
						</div>

						<div class="form-group">
							<label class="control-label" for="street">Street</label>
							<div>
								<input id="street" name="street" type="text" placeholder="Street" class="form-control" required >
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="municipality">Municipality</label>
							<div>
								<input id="municipality" name="municipality" type="text" placeholder="Municipality" class="form-control" required >
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="province">Province</label>
							<div>
								<input id="province" name="province" type="text" placeholder="Province" class="form-control" required >
							</div>
						</div>

						<div class="form-group">
							<label class="control-label" for="customer_email">Email</label>
							<div>
								<input id="customer_email" name="customer_email" type="text" placeholder="Email" class="form-control" required >
							</div>
						</div>

						<div class="form-group">
							<label class="control-label" for="productid">Product Name</label>
							<div>
								<input id="product_name" name="product_name" type="text" value="{{this.product_name}}" class="form-control" readonly >
							</div>
						</div>

						<div class="form-group">
							<label class="control-label" for="zipcode">Zipcode</label>
							<div>
								<input id="zipcode" name="zipcode" type="number" class="form-control" required >
							</div>
						</div>

						<div class="">
							<div class="text-center">
								<button type="submit" class="btn btn-primary btn-lg" title="Submit contact form">Order</button>
							</div>
						</div>

					</div>
				</form>
							<div class="text-center">
								<a href="/product/update/{{this.product_id}}"><button class="btn btn-primary btn-lg">UPDATE Product</button></a>
							</div>
			</div>
		</div>
	</div>
</body>