<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="modal-body">
		    		<form method="POST" action="/product/update/saving/{{rows.product_id}}">
		    			<div class="controls">

		    				<div class="form-group">
		    				<label class="control-label" for="name">Product Name</label>
		    				<div>
								<input id="product_name" value="{{rows.product_name}}" name="product_name" type="text" class="form-control" required >
							</div>
							</div>

							<div class="form-group">
							<label class="control-label" for="name">Category</label>
							<div>
								<select id="category_id" name="category_id" required>
								{{#each brand.[0]}}
									<option value="{{this.category_id}}">{{this.category_name}}</option>
								{{/each}}
								</select>
							</div>
							</div>

							<div class="form-group">
		    				<label class="control-label" for="name">Brand</label>
		    				<div>
								<select id="brand_id" name="brand_id" required>
		    					{{#each brand.[1]}}
									<option value="{{this.brand_id}}">{{this.brand_name}}</option>
								{{/each}}
								</select>
							</div>
							</div>

							<div class="form-group">
		    				<label class="control-label" for="name">Price</label>
		    				<div>
								<input id="product_price" value="{{rows.product_price}}" name="product_price" type="number" class="form-control" required >
							</div>
							</div>

							<div class="form-group">
							<label class="control-label" for="name">Description</label>
							<div>
								<textarea id="product_description" name="product_description" type="text" rows="3" maxlength="255" class="form-control">{{rows.product_description}}</textarea>
							</div>
							</div>

							<div class="form-group">
		    				<label class="control-label" for="name">Tagline</label>
		    				<div>
								<input id="brand_tagline" value="{{rows.brand_tagline}}" name="brand_tagline" type="text" class="form-control">
							</div>
							</div>

							<div class="form-group">
		    				<label class="control-label" for="name">Product Image</label>
		    				<div>
								<input id="product_picture" value="{{rows.product_picture}}" name="product_picture" type="text" maxlength="500" class="form-control">
							</div>
							</div>

							<div class="form-group">
		    				<label class="control-label" for="name">Warranty</label>
		    				<div>
								<input id="warranty" value="{{rows.warranty}}" name="warranty" type="number" class="form-control">
							</div>
							</div>

							<div class="form-group">
							<div class="text-center">
								<button type="submit" class="btn btn-primary btn-lg" title="Submit">Submit</button>
							</div>
							</div>
						
						</div>
					</form>
				</div>	
		 </div>
	</div>
</div>	